<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Apache POI - Product Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.min.js"></script>
	<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<style>
		main > .container {
			padding: 60px 15px 0;
		}
		.footer {
			background-color: #f5f5f5;
		}
	</style>
</head>
<body class="d-flex flex-column h-100">
<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" th:href="@{/}">Apache POI</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/T5750/poi" target="_blank">GitHub</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://t5750.github.io/" target="_blank">Blog</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<main role="main" class="flex-shrink-0">
	<div class="container">
		<h4 class="mt-5">Product Details</h4>
		<div>
			<form class="form-horizontal" th:object="${productForm}" th:action="@{/product}" method="post">
				<!--<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">-->
					<!--<p th:text="#{form.hasErrors}">Error Message</p>-->
				<!--</div>-->
				<input type="hidden" th:field="*{id}"/>
				<div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-2 control-label">Description:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{description}" th:errorclass="has-error"/>
						<span class="help-block">
						   <ul>
							   <li th:each="err : ${#fields.errors('description')}" th:text="${err}" />
						   </ul>
						</span>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('price')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-2 control-label">Price:</label>
					<div class="col-sm-10">
						<input type="number" min="0" max="5000" step="0.01" class="form-control" th:field="*{price}" th:errorclass="has-error"/>
						<span class="help-block">
						   <ul>
							   <li th:each="err : ${#fields.errors('price')}" th:text="${err}" />
						   </ul>
						</span>
					</div>
				</div>
				<div class="form-group" th:class="${#fields.hasErrors('imageUrl')} ? 'form-group has-error' : 'form-group'">
					<label class="col-sm-2 control-label">Image Url:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" th:field="*{imageUrl}" th:errorclass="has-error"/>
						<span class="help-block">
						   <ul>
							   <li th:each="err : ${#fields.errors('imageUrl')}" th:text="${err}" />
						   </ul>
						</span>
					</div>
				</div>
				<div>
					<a class="btn btn-outline-primary" th:href="@{/}" role="button">Home</a>
					<button type="submit" class="btn btn-outline-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</main>
<footer class="footer mt-auto py-3">
	<div class="container">
		<span class="text-muted">© 2014-2021 <a href="https://github.com/T5750" target="_blank">T5750</a></span>
	</div>
</footer>
</body>
</html>